// Generic ---------------------------------------------------------------------
$width-lg-screen: 75em;
$width-sm-screen: 30em;

// Colors ----------------------------------------------------------------------
$color-default-light: #fff;
$color-default-dark: #333;
$color-default-darker: #000;

// Fonts -----------------------------------------------------------------------
$base-font-family: 'Open Sans', sans-serif;
$base-font-size: 16px;
